[2019-10-28 11:24] galenriley opened #1 "Device audio levels duck when app is open"
The home screen video is treated like it's playing sound even with no audio channel, so music/podcasts reduce volume when using it

[2019-10-28 11:25] galenriley opened #2 "Track notification interaction"
Which notification brought the user into the app? Let's keep track of that somehow, maybe it'll be useful for analytics later

[2019-10-28 11:30] galenriley opened #3 "Post-i18n fixes"
For About screen:
- use <ParsedText/> controls everywhere
- change Credits section to an array and build dynamically

For Home screen:
- accommodate burger menu icon somehow

[2019-10-28 11:31] galenriley commented on #3
On the latter, probably break the item to into substrings around something like %ICON% and build dynamically? Just a note to self for later

[2019-10-28 11:34] galenriley opened #4 "Avoid duplicate Capo POST requests"
Loading indicator on the client? Server-side check? Both?

[2019-10-28 11:36] galenriley commented on #4
Thoughts from tacoman on Slack
"I got bored in a meeting and tried to tell React to lock out duplicate button taps. It didn't take. Server side is probably more reliable anyway. Thinking the best bet is probably to pull the last notification before saving the new one, and then if the text + title + push fields all match exactly we suppress pushing."

[2019-10-28 11:40] galenriley opened #5 "Add dynamic items to the container that holds nav drawer that launch outside links/internal UIWebBrowser"

[2019-10-28 11:41] galenriley opened #6 "Image handling"
Server-side or 3rd party storage for news feed and whatnot

[2019-10-28 11:42] galenriley commented on #6
Upload from the client app eventually

[2019-10-28 11:43] galenriley opened #7 "Standardize server data structure naming conventions"
Some are camel case, others have underscores. It's a mess

[2019-10-28 11:44] galenriley opened #8 "Turn README into a marketing-centric document"

[2019-10-28 11:45] galenriley opened #9 "Delete unnecessary files in the repo"
There's a bunch of stuff in the root that I don't know what is even

[2019-10-28 13:04] galenriley opened #10 "Upgrade react-navigation to something more current"
(We're way behind, so this is probably an undertaking)

[2019-10-29 17:16] galenriley opened #12 "Add docs/cost-faq.md"

[2019-10-29 17:16] galenriley commented on #12
Off the cuff costs:
- $99/yr for an Apple Developer account to publish to the App Store (unless someone in your SG is already a developer)
- $25 one-time registration fee to publish on Google Play (same as above)
- Base tier on heroku, ~$7/month. (That's not free, but way easier than standing up your own server... or if someone already has one and will let you add to it)

[2019-10-29 22:18] galenriley opened #13 "Client-side multiple roster sorting"
Add .priority property to roster data structure.

If data exists, sort by that and then alpha

[2019-10-31 01:24] galenriley commented on #12
this is information is already included in /docs/deployment.md

[2019-10-31 13:21] galenriley opened #14 "FOSS Checklist"

[2019-10-31 13:22] galenriley commented on #14
Remove unnecessary branches
@tacoman

[2019-10-31 13:22] galenriley commented on #14
Rename repos
@galenriley

[2019-10-31 13:22] galenriley commented on #14
Select license
@tacoman + @galenriley

[2019-10-31 13:22] galenriley commented on #14
Get Chattahooligan server working
@galenriley + @shortnd

[2019-10-31 13:23] galenriley commented on #14
^ document server environment variables
@shortnd

[2019-10-31 13:26] galenriley commented on #14
"Finalize" readme.md (marketing-focus)
@galenriley + @tacoman + @shortnd

[2019-10-31 13:41] galenriley commented on #14
Build new IPA/APK files and submit to the stores for version 1.3 (roster redux+accounts), or version 1.4 (i18n), if applicable

@galenriley + @tacoman

[2019-10-31 14:03] galenriley commented on #14
Determine GitHub ownership/admin permissions
@galenriley

[2019-10-31 14:11] galenriley opened #15 "Add docs/assets"
Some documentation about what a SG should gather to customize the app: common RGB colors, images & resolutions, preferred fonts, etc

[2019-10-31 14:15] galenriley commented on #14
Add "Getting Started" section to readme with wtf to do first
- gather assets (refer to /docs/)
- join Slack (how to reach out?)
- what else?

[2019-10-31 19:32] galenriley opened #16 "Add code of conduct (and so on)"
https://opensource.guide/building-community/

https://www.contributor-covenant.org/
plus
"at work we use Contributor Covenant with a few additions to highlight communities we want to protect and respect in our space:
Negative or offensive remarks based on race, religion, color, sex (with or without sexual conduct and including pregnancy and sexual orientation involving transgender status/gender id

[2019-10-31 20:09] #9 closed, assigned to nobody

[2019-10-31 20:09] #8 closed, assigned to nobody

[2019-11-02 03:37] galenriley opened #17 "Create BigButton component"
make sure it supports RTL layout

[2019-11-02 03:39] galenriley opened #18 "ParsedText wrapper"
Put a wrapper around ParsedText that uses fonts from the skin, (add to StyledText.js probably...or make every StyledText also a ParsedText?)

[2019-11-02 04:12] galenriley commented on #3
Did the ParsedText thing and the dynamic credits thing, did NOT handle the icon thing yet,thus the ticket is still open

[2019-11-02 16:13] galenriley opened #19 "Foes changes"
Add .competition to Foes schema for league/cup strings
Add Picker component to Foes screen to select between competitions
Add Foes Default Competition to config to set default value on that Picker

[2019-11-03 14:32] galenriley commented on #19
Do something with accentColor. Button border maybe?

[2019-11-04 00:18] galenriley opened #20 "accomodate filtering on .active property in players/rosters/songs/etc"

[2019-11-04 00:19] galenriley commented on #5
This stuff lives in <CustomDrawer/> and we haven't actually looked at that code since the very first release. Probably lots of room for tweaks

[2019-11-04 15:33] galenriley opened #21 "Add created and last login timestamp to admin/users"

[2019-11-04 17:07] galenriley opened #22 "News Feed discussion"

[2019-11-04 17:11] galenriley commented on #22
Proposed:
An abstract feed item wrapper with sender and timestamp information with a key to another collection. Feed is assembled upon request

[2019-11-04 17:12] galenriley commented on #22
Something like
[code]

and the server adds item.content.data and goes to that collection to grab the relevant data when the request is made

[2019-11-04 18:14] galenriley opened #23 "pushToken enhancement"
Add endpoint to update push token-related info without incrementing counter

Modify schema and app to accommodate

.user: id of logged in user on this device (plus maybe email or something readable)
.settings: Object (future use, for notification filters and other stuff TBD)

[2019-11-04 18:43] galenriley commented on #22
Songs (existing schema)

These are used for pregame choir practice, announcing that a new song exists, or references broadcast in the middle of a match.

[2019-11-04 18:44] galenriley commented on #22
News blasts. A new schema with just text, includes links and limited formatting like in <ParsedText/>
- future: Consider images in more detail

Do these require a "headline" like a Song requires a title?

[2019-11-04 18:44] galenriley commented on #22
A link to a player bio.

Plus an extra caption. Preview item in the component is similar to the PlayerRow in the Roster screen, but may have a difference.

Tapping the panel will take you to the player bio screen. We may include direct buttons to Twitter or Instagram

[2019-11-04 18:44] galenriley commented on #22
Goalkeeper insult banner

This one is interesting, because it should automatically Have settings regarding being a pinned post and expiring after a certain time. No one else will use it, but implementing it will teach us good lessons

[2019-11-04 18:44] galenriley commented on #22
Events

Similar to players, This will link to an existing object and will also include a particular caption

Feedback from tailgate crew:
Potluck sign up feature

[2019-11-04 18:44] galenriley commented on #22
Tweet the players

This involves a caption and a key to a particular roster object. The item in the feed has a button that lonks to the mass Twitter screen

[2019-11-04 18:45] galenriley commented on #22
Shitpost

I am not sure what this looks like, but it seems that y'all use them liberally. (I guess having working notifications is empowering)

This is probably plain text only that triggers a notification but the active property is set to false so it never shows up in the feed, or maybe it is set to unpublish after 30 minutes or something

[2019-11-04 18:46] galenriley commented on #22
Maybe it's all the same sort of object and you can include an item from a category as .attachment?

[2019-11-04 21:31] #14 closed, assigned to tacoman, galenriley, shortnd

[2019-11-04 21:31] tacoman commented on #17
What's this for again?

[2019-11-04 21:36] tacoman opened #25 "Clean stale push tokens"
Sending stale push tokens can piss off Apple/Google and possibly stop some of our notifications from working, which might be why so many people aren't getting Guardbook notifications. Also, it's just cleaner this way.

Per https://docs.expo.io/versions/latest/guides/push-notifications/, we need to check the receipts from sending. If a token has response DeviceNotRegistered, remove that token. We s

[2019-11-04 21:41] tacoman commented on #3
Outstanding rtl bugs:

- ✔️ songbook TOC: chapter headings are not aligning to the right
- roster: inverting the Foes/Friends tab order causes Foes to be selected first. (Might need to trigger it with code when the component mounts)
- RosterFoesPlayers: should we flip the back button's orientation and positioning?
- Player: bio is not right-aligning. Might be an error in the ParsedText library
- C

[2019-11-04 23:23] #16 closed, assigned to tacoman

[2019-11-04 23:26] tacoman commented on #20
Rosters already filters on an /active endpoint, we can replicate the same pattern for the others

[2019-11-04 23:30] galenriley opened #26 "slack test"

[2019-11-04 23:31] #26 closed, assigned to nobody

[2019-11-05 01:32] galenriley commented on #3
Handled the icon thing ✅

[2019-11-05 12:30] tacoman commented on #1
There's an isMuted property for Expo Video. Let's try setting that and see what happens.

[2019-11-05 14:28] galenriley opened #31 "Solution for server side scheduled tasks"
Tasks like:
- push token cleanup
- sending future-publish-time feed posts as push notifications

And fancy shit:
 - automatic feed posts and/or push notifications relative to certain events (ex, "tweet the players" reminder on match day eve, Prideraiser plug at scheduled kickoff time+45min during June)

[2019-11-05 17:46] galenriley opened #32 "Admin /players/ changes"

[2019-11-05 17:53] galenriley commented on #32
For the player list:
- sort by alpha on .name
- restrict size of thumbnail image
- put everything in a container that is clickable to go to the View player form (or make the thumbnail a link, as a backup plan)
- add squadNumber to the container (right of player name?)
- add "View" and "Edit" links to the container That go to the respective form for the player

[2019-11-06 00:26] galenriley commented on #22
In practice:
- Creation of certain documents (can?/will?) automatically precede creation of a `feedItem` with the document as an `.attachment`
- Creation of a blank `feedItem` will allow addition of `.images` and (certain?/all?) `.attachment`(s)

Why multiple `.attachment`s instead of just one?
- Say you want to celebrate two players who scored goals on the evening, render two Player cards
- Inclu

[2019-11-06 00:40] galenriley commented on #22
`.attachment.type`s that should automatically create a `feedItem`:
- "song" (on-the-fly composition)
- "goalkeeperNickname" (Chattanooga feature)
^ for both of these, what about images? Taking a photo of the GK/player to insult or uploading an image of a meme are possible use cases. Account for this in the forms that create these items.
(does goalkeeperNickname stop being its own collection and we

[2019-11-06 00:44] galenriley commented on #22
gkNickname or goalkeeperNickname?

[2019-11-06 00:49] galenriley commented on #22
not sure about notification.title and notification.body for, like, any of this stuff

[2019-11-06 00:54] galenriley commented on #22
Which `feedItem` or `feedItem.attachment` types need to be creatable in the app?
- base feed item with text input/image attachments
- "goalkeeperNickname"
- "song" (on the fly composition)

Which `feedItem` or `feedItem.attachment` types need to be creatable in the web admin?
- everything but the two above

Which `feedItem` or `feedItem.attachment` types need to be attachable to a base `feedItem`

[2019-11-06 00:55] galenriley commented on #22
Can we create `feedItem`s from the web admin? What attachments?
- yes and everything but "goalkeeperNickname"

[2019-11-06 12:09] galenriley commented on #21
And first/last name

[2019-11-06 12:12] galenriley commented on #20
Active isn't a clear concept for me in all of these data types.

[2019-11-06 12:14] galenriley commented on #17
We use this nested ClipBorderRadius/RectButton component all over and there's a lot of copy paste code. It's just an opportunity to clean up in the future

However
- the send/send+notify buttons are different than the rest
- the foes buttons are different than the rest and may become more different once we figure out an elegant way to use the secondary color property

[2019-11-06 14:36] galenriley commented on #3
Player bio is wrapped in a `<ReadMore>` component. If `<ParsedText>` works without issue in the other scenarios where it's used, then the issue is in `<ReadMore>` and maybe there's a property to set alignment in it

Edit:
I think this module is `expo/react-native-read-more-text` and it doesn't inherit the parent props like our own `<StyledText>` does

[2019-11-06 14:45] galenriley commented on #3
Songbook ToC uses a `<SectionList>` component. I know you can override how the section headers render, but we're just using default stuff

Trivia: the multi-roster page used to have the exact same implementation. But we don't use SectionList there anymore

Future issues:
We DO use the same SectionList on the GK nickname page for selecting a color, so the TOC fix will probably apply there as well

[2019-11-06 17:11] galenriley commented on #21
If it's okay while you're in there adding properties:
.firstName
.lastName
.displayName (new!)

We might use displayName in feed

[2019-11-06 17:19] galenriley commented on #22
Add `.postAs` or similar property to tag a display field in the feed as using a particular "SG Voice," so a post looks like it comes from the Capos, the Tifo folks, the merch people, the travel department, etc

[2019-11-06 17:58] galenriley commented on #22
Add `.credit` to feed .images

ASAP, add to player photo albums when the gallery is implemented

[2019-11-07 01:47] tacoman commented on #20
Rosters: Active rosters are currently competing/competing this year. E.g. Members Cup squads will cease to be "active" when 2020 signings are announced. In the past, you might have simply backed up the data and deleted it from production. By marking it inactive instead, you can keep the data around for API consumers or for a future feature that shows historical data.

Songs: Inactive songs might b

[2019-11-07 01:49] tacoman commented on #12
I'm just going to update deployment.md to have an up-front "here's the cost" section so people can budget it out up-front before continuing.

[2019-11-07 02:04] tacoman commented on #12
Added. Feel free to re-open if you think it needs more tweaks, but I think this is cleaner without splitting off a separate file.

[2019-11-07 02:04] #12 closed, assigned to nobody

[2019-11-07 02:06] tacoman commented on #15
Did you grab your palette by using the exact RGB values of your crest? That's what we did to get the rouge for Guardbook.

I'll try to get to this one soon. Having to figure out what combo of transparencies, resolutions, etc. was a pain. I'll link to it from deployment.md as well.

[2019-11-07 02:09] tacoman commented on #5
Having collapsible groups as part of this would be nice.

Standings
-NISA
-UWS

etc

[2019-11-07 02:58] galenriley commented on #20
Those make total sense. I was struggling to wrap my brain around active for players and news feed items.

For players, only make them inactive if you wanna keep them in the database but hide them from the UI. Like if a player got arrested for something awful and you wanted to pull them..

For news feed, it's a way to remove an item (that is seperate from the unpublish timestamp...which won't be us

[2019-11-07 03:02] galenriley commented on #15
Yes, eyedropper tool.

It would be a service, but far from required to figure out the resolution stuff. Honestly, it's a mishmash, some of it doesn't matter, and everything is subject to change in the UI.

I recall being annoyed at needing a 512px square icon for Google Play and a 1024px square one for App Store. I had some 1000x1000 images that we'd been using for social media stuff all year and

[2019-11-08 12:09] tacoman opened #33 "UIWebView deprecated by Apple"
Apple will stop accepting builds that use the UIWebView API eventually. We need to figure out which package is pulling it in- Apple won't be scanning our JS, so it's something that's included in a native module.

I've seen indications that this might be related to React Native < 0.60; Expo SDK 35 runs on 0.59.8. So it's possible that all we need to do is wait for Expo SDK 36 and upgrade; we'll nee

[2019-11-08 12:23] galenriley commented on #33
I cannot find it now, but I recall researching this issue and ending up on some post in the Expo forums that said it was a dependency they were using and they would have it fixed in SDK before Apple started denying those builds

[2019-11-08 13:00] tacoman commented on #15
Added this and added a link to it in deployment.md.

[2019-11-08 13:00] #15 closed, assigned to nobody

[2019-11-08 13:09] tacoman commented on #31
Push token cleanup can be handled immediately as a callback, but we'll definitely need this for the other stuff.

We'll need to store any scheduling information in the database so that it can survive a dyno reset. You can use `setTimeout()` to run a timer at a set interval- maybe every five minutes. (Gate this behind a config flag so that beta servers aren't keeping their dynos spinning at all hou

[2019-11-08 13:12] tacoman commented on #20
Players can still just have their entry removed from the roster object if you wanted to hide them. The only way I see an active flag being needed for something like that is if you did something like build a web interface that could search all players across all years and you wanted a player's data but not to make it available for some reason. I'd rather just edit the bio with a note and be up-fron

[2019-11-08 13:18] tacoman commented on #1
Fixed. We were using `muted`, but not `isMuted`.

[2019-11-08 13:18] #1 closed, assigned to nobody

[2019-11-08 13:33] galenriley opened #34 "Organize and rename assets, reflect changes in assets.md"

[2019-11-08 13:56] galenriley commented on #34
The third SG that comes online could take this task, do the research and cite the various store guidelines.

[2019-11-08 15:23] galenriley opened #35 "Offline mode"

[2019-11-08 15:24] galenriley commented on #35
Add some sort of indicator across the UI when we could not hit the server and may not have the latest data. Something like a no connection banner

[2019-11-08 15:43] galenriley opened #36 "serverConfig and sharedConfig (and appConfig) documents on the server"
with APIs to get sharedConfig (and appConfig, future use)

[2019-11-08 15:46] galenriley commented on #36
[code]

key name negotiable, but this setting will be used to let content creators select the language they are inputting news feed items in. Because this feature will eventually be used on the admin as well (keyboards > thumbs), it belongs in sharedConfig

[2019-11-12 19:13] galenriley opened #37 "Player birthdays: feed posts/push notifications"

[2019-11-13 03:27] galenriley opened #38 "Roster changes"
move default image to the roster object
add flag to frame the thumbnail with a circle or leave it alone
add text input to admin for position (use case: academy team name for coaches)

[2019-11-14 23:40] galenriley commented on #38
An override hidePlayerSong property in Roster or in Player?

[2019-11-21 15:25] tacoman opened #39 "Terraform buildout of server infrastructure"
We could make it easier to provision the server, database, and anything related by using Terraform to automatically provision the infrastructure in question. Automatically configure all of the environment variables in Heroku, provision the database collections in Atlas, etc.

[2019-11-29 21:11] galenriley commented on #23
segment push messages by .expoExperience and send in batches
possibly add flag to push token documents to never push to a particular user to avoid unconfirmed expo developer app issue

[2019-11-29 21:13] galenriley commented on #23
maybe related, grab notifications from the background
https://docs.expo.io/versions/latest/sdk/background-fetch/

[2019-12-04 16:47] galenriley commented on #22
Common image library for (regular match day images, home venue maps, common memes, etc) for quick finding (without digging through your phone back months)

[2019-12-09 02:20] galenriley commented on #38
12/8
Added `.override` object to Roster to support custom text for the academy coaches use case as part of release 1.4.3

See the academy roster document here for data example
https://chattahooligan-hymnal.herokuapp.com/api/rosters

[2019-12-13 14:49] galenriley commented on #22
Here's the feed roadmap, on Slack
https://hooliganhymnal.slack.com/archives/C95472EGP/p1576083861475800?thread_ts=1576083861.475800&cid=C95472EGP

[2019-12-13 15:18] galenriley commented on #38
Added roster.showPlayerSongs, and I think this Issue is complete, in spirit

[2019-12-13 15:18] #38 closed, assigned to nobody

[2020-01-01 21:46] galenriley commented on #7
re: naming conventions, here's part of it-

https://mongoosejs.com/docs/models.html#compiling

[2020-01-02 00:50] galenriley opened #41 "News Feed component structure brainstorming"

[2020-01-02 01:18] galenriley commented on #41
CreatePost screen for composition
Also editing?

Images...we don't know how they work yet

Attachments (app-specific object types) will require a few different versions
- User-facing version (fully functional)
- Preview version (visible only)
- Composer version (preview version, plus drag/edit/delete icons)
How do we code this? idk even

Post itself appears in a couple of places
- in a container i

[2020-01-02 01:34] galenriley commented on #41
Flow:
Create ->
Add/Edit attachments -> back to Creator after updating global state
click [Continue]
Preview ->
click [Send] or [Schedule]

[2020-01-04 01:38] galenriley opened #42 "Research ISO date parsing in POST /api/pushToken"
Why is it being parsed like that? I feel like it should not be and this can go away.

[2020-01-04 19:23] galenriley opened #43 "Change TouchableOpacity to TouchableHighlight and refactor"
Reminder to self

[2020-01-04 21:38] galenriley opened #44 "Galen news feed TODO"
check post permissions on loading createpost or before
add post attachment buttons/navigation
alpha sort channel selector
implement twitter list type

talk to server

styling, styling, styling

ponder attachment type: buttons for primary app features like songbook, roster, events screen, etc
ponder attachment type: button with link icon that goes to internal browser

implement Event data structure

[2020-01-04 21:39] galenriley commented on #44
images!!

[2020-01-04 21:49] galenriley commented on #44
those in-app feature buttons that we're pondering will work using deep linking, which @tacoman is working on

[2020-01-05 04:54] galenriley commented on #44
fix renderitem item.item

[2020-01-05 05:06] galenriley commented on #44
Add default thumbnail to mass tweet screen/attachment panel

Edit: Done

[2020-01-05 19:06] tacoman opened #45 "Change /api/controller/active endpoints to /api/controller/all"
By default Hooligan Hymnal is currently only pulling active data. The default endpoint should reflect that; if someone is using the API to retrieve historical data, they'll append /all rather than omitting /active.

[2020-01-05 21:46] galenriley commented on #44
parse and display post dates more better

Edit: using MomentJS

[2020-01-05 22:53] galenriley commented on #44
ponder notification.title and notification.body

Edit: Maybe Title is always "Chattahooligan Hymnal" and Body is always "New post from {channel.name}" ?

[2020-01-06 01:10] galenriley commented on #44
reorder/delete attachments, maybe using this?
https://www.npmjs.com/package/react-native-draggable-flatlist

[2020-01-06 22:07] galenriley commented on #32
if no player thumbnail, render a circle (in whatever the default UI color is. it's whatever) so everything stays aligned

[2020-01-06 22:09] #21 closed, assigned to shortnd

[2020-01-06 22:11] galenriley commented on #32
add a field at the very bottom that's something like "{n} Players in database" where {n} is a count of records

[2020-01-06 22:14] galenriley commented on #32
server: change server to save thumbnails at 200x200 instead of 50x50

server/admin, both: change .image to be .images: [] and set the first array item to the image that already exists
(I know you JUST did something similar for player biographies)

[2020-01-07 00:56] galenriley commented on #32
add .position to the container

[2020-01-07 02:51] galenriley opened #46 "Admin players/{id} changes"
SERVER
- change server to save thumbnails at 200x200 instead of 50x50
- remove .team from schema
- change .image to be .images: [] and set the first array item to the image that already exists
(I know you JUST did something similar for player biographies)

ADMIN
Show .thumbnail at top of this screen
Remove .team field (after change, above)
Display bios in tabs (similar to edit screen)
Edit/Delete

[2020-01-07 22:23] cMoney667 commented on #32
Closing issue as https://github.com/Chattahooligans/hooligan-hymnal-server/commit/fcc6320930031487d739b3ccfb202ba2c6b7828f Fixed these issues

[2020-01-07 22:23] #32 closed, assigned to shortnd

[2020-01-08 18:06] galenriley opened #47 "Move screenshots to /docs/screenshots folder and update docs"

[2020-01-09 16:56] galenriley opened #48 "Reorder post attachments"
Think this is the best option
https://www.npmjs.com/package/react-native-draggable-flatlist

But it errors on import. This may be because of out of date dependencies Reanimated and React Native Gesture Handler. (Expo cries on build for at least one of those anyway)

[2020-01-09 23:29] galenriley opened #49 "decide on npm/yarn, tidy up package lock, write package manager guide"

[2020-01-09 23:31] galenriley commented on #49
PS C:\Users\galen\Chattahooligans\hooligan-hymnal-app> expo start
Starting project at C:\Users\galen\Chattahooligans\hooligan-hymnal-app
Expo DevTools is running at http://localhost:19002
Opening DevTools in the browser... (press shift-d to disable)
Some of your project's dependencies are not compatible with currently installed expo package version:
 - react-native-gesture-handler - expected versi

[2020-01-10 12:12] galenriley commented on #46
Add .active field to player and admin UI
Remove delete functionality

(Someone on our side accidentally deleted the captain...oops)

[2020-01-10 14:55] galenriley opened #50 "Add .tester Boolean to pushtokens"
And flags in the code to only spam tester users that we can turn on/off

[2020-01-10 18:38] galenriley opened #51 "Look into including nav params in route setup to unify all the screens that just load a webpage"

[2020-01-12 05:01] #17 closed, assigned to tacoman, galenriley

[2020-01-12 05:03] #41 closed, assigned to nobody

[2020-01-15 14:35] #22 closed, assigned to nobody

[2020-01-20 20:04] #44 closed, assigned to nobody

[2020-01-20 20:07] galenriley opened #53 "News Feed followup"

[2020-01-20 20:08] galenriley commented on #53
Server + App:
- notification engagement tracking
- feedAllowed permission ("surgery" on users schema)

App:
- pagination in feed

[2020-01-20 20:12] galenriley commented on #53
App:
- Implement Channel screen and link out to it from Post component

[2020-01-21 01:45] galenriley commented on #53
App:
- confirm gk nickname attachment works

[2020-01-21 04:09] galenriley commented on #50
Nevermind, @tacoman

[2020-01-21 04:09] #50 closed, assigned to nobody

[2020-01-21 14:36] cMoney667 commented on #46
Merged in changes to master

[2020-01-21 14:36] #46 closed, assigned to shortnd

[2020-01-21 23:21] galenriley commented on #53
Are the receipts from a post being saved and put under Debug?

[2020-01-22 03:26] galenriley commented on #53
App:
- change font on TextInput controls

[2020-01-22 22:17] galenriley commented on #53
App:
- Pass .enabled prop down into BigButton component and check .feedAllowed on CapoHome screen

[2020-01-22 22:28] galenriley opened #54 "Admin /songs/ changes"
Mirror /players/ with styled title, styled "Create Song" button, panels around each title, filter search box (and pagination if you want to be consistent with the Players index screen)

[2020-01-22 22:29] galenriley opened #55 "Admin /songs/{id} changes"

[2020-01-22 22:30] galenriley commented on #55
Styling all over

[2020-01-22 22:33] galenriley commented on #55
Remove unused fields:
- delete_local

Rename fields to: (in an effort to fix fucked up naming conventions)
- referenceTitle
- referenceLink
- playerId

[2020-01-22 22:35] galenriley commented on #54
Have filter include fields:
title, lyrics, reference title, category

[2020-01-22 22:40] galenriley commented on #55
Arrange (subset of) fields in order, similar to order in the app

- Title
- Reference Title
- Instructions
- Lyrics

- Reference Link
- Sheet Music Link
- Player (lookup in Players collection, show...uhhh...card similar to Players index...thumbnail/name/number/position)

[2020-01-22 22:44] galenriley commented on #55
For songs/{id}/edit

(flexible on this)
Some UI to map a player to the song's .playerId field
Maybe a filter box to search? Maybe a dropdown with names?

Note that we may need to take a song that has a player and set the field to null, so accomodate that scenario

[2020-01-23 02:03] #47 closed, assigned to nobody

[2020-01-23 02:03] #6 closed, assigned to nobody

[2020-01-23 02:07] galenriley commented on #4
News Feed has a modal loading component that prevents immediately sending the post a second time

[2020-01-23 02:07] #4 closed, assigned to nobody

[2020-01-23 14:06] galenriley commented on #2
We want to give admins info about how users are engaging with push notifications.

The suggested approach is something like this, with no confidence in the API name, collection name, or property names
[code]
The API will accept post id, push token, timestamp*

*Do we want to track local time on the user's device or skip this parameter and use server time?
We have a lot of interest in network conge

[2020-01-23 18:38] rsinger commented on #2
This look like two distinct models to me: `engagement` and `engagement_analytics`.  I only say this because my gut feeling is that we're not going to want to hold onto the engagements forever (since the ideal situation is to have a lots and lots of engaged users) and their usefulness is very time limited.  However, the aggregation of engagements is generally useful longterm.

So if if engagements

[2020-01-23 18:41] rsinger commented on #2
@galenriley What model does `post` refer to?

[2020-01-23 18:55] galenriley commented on #2
Thanks for your feedback and questions. Bringing your perspective into the project is super valuable.

---

Two collections make some sense, though I should point out that (so far) we are only considering tracking engagement with push notifications.
- not all posts have push notifications
- most engagement will be within a few seconds to a few hours after the post is published, so action on the AP

[2020-01-23 18:57] galenriley commented on #2
Wow that's big I don't know why lol

[2020-01-23 19:41] rsinger commented on #2
Thanks for the clarification!  That revises my thinking, then - we can almost certainly accomplish all of this simply with a single collection and the aggregation framework:
POST /notifications/{:post_id}/engagements -> `{ pushToken, timestamp}`
GET /notifications/{:post_id}/engagements -> raw dump of collection
GET /notifications/{:post_id} ->
[code]

I'm not sold on the last route, yet, but that

[2020-01-23 20:03] galenriley opened #56 "Revisit Songbook"
Is this doing what we want it to? How about rewriting how ToC works? Making ToC the front page?

[2020-01-23 20:14] galenriley commented on #2
a note on the /notifications/ endpoint, for the sake of trivia

We named the current API /notifications/ arbitrairly, way back when the entire purpose of the app was to send songs to practice before the match. That functionality has been entirely supplanted by news feed, and we'll prolly be deprecating the API when we are sure everybody is updated.

soooooo you can have whatever in that space

[2020-01-23 20:14] galenriley commented on #2
How do you feel bout going camelCase instead of underscores in your prop names?

[2020-01-23 20:54] rsinger commented on #2
I am devoid of feelings

[2020-01-23 21:37] galenriley commented on #2
I haven't had a sincere human emotion since 2018, so I'm with you on that one

[2020-01-24 16:29] galenriley commented on #56
Concept:
Songbook route becomes
Table of Contents ->
Songbook (similar horizontal page swipe thing) on a new screen

ToC button on the bottom is navigation.goBack()

Back button then always returns to ToC screen

What happens to the cover image in this scenario?

Can we detect a right to left swipe on the Table of Contents screen to navigate to Songbook?

Will users ever flip through the book if p

[2020-01-24 17:56] rsinger commented on #2
I started on this last night: https://github.com/rsinger/hooligan-hymnal-server/pull/1

@galenriley can you confirm a few assumptions?
1. A notification engagement can be defined as a push token and a feed item at a particular timestamp
2. There can only one instance of a specific pushtoken and feed item (i.e. the same push token and feed item can only ever appear in _one_ db document together)
3.

[2020-01-24 18:15] galenriley commented on #2
1. Yes sure
2. I'm going to hit the API when the user taps a push notification and, maybe, when the app is foregrounded and one is received (we can detect this case and process it like it was tapped). In the second case, the user might tap the notification a second time. Regardless, I think we are only interested in the first API hit and can ignore subsequent engagements. (@tacoman, thoughts?)
3.

[2020-01-24 19:19] rsinger commented on #2
Realistically, if there is validation of the pushtoken and feed item _and_ we prevent the possibility of duplication, it's hard to see many opportunities for abuse outside of the usuals (e.g. DoS).

[2020-01-24 19:34] galenriley commented on #2
The thing is- the only validation that the push token is correct is if it
matches a regex.

The bad news is, if one invalid token goes in the DB, then push
notifications break for everyone

On Fri, Jan 24, 2020, 2:19 PM Ross Singer <notifications@github.com> wrote:

[2020-01-26 14:04] rsinger commented on #2
That sort of seems like a _different_ issue, though. If we're at point of notification engagement, that ship already sailed.

Although... can you explain a bit more how it breaks for everyone?

[2020-01-26 15:09] galenriley commented on #2
You're totally right, re: ship sailing.

For the breaking- We ran into an issue way back before we understood anything that still occasionally plagues us to this day.

Long story short, Expo notes the bundle id and account when a pushToken is first generated/registered. Expo doesn't and won't tell us what that is. You send a notification alongside a list of all your push tokens. If expo notices th

[2020-01-26 15:11] galenriley commented on #2
^ That's way too much exposition

[2020-01-28 02:24] galenriley commented on #53
Added Pagination in news feed

[2020-01-29 15:49] rsinger commented on #2
@galenriley Can we consider this closed?

[2020-01-29 16:03] galenriley commented on #2
@tacoman is gonna test the notification engagement stuff on his dev server, then you'll get the satisfaction of closing the issue

[2020-01-31 02:11] gclimer opened #58 "Use fixed-width / serif font for certain informational text"
For certain information text, such as "token" values used for debugging, use a fixed-width serif font to help distinguish between similar characters such as capital "i" and lowercase "L", or the letter "O" and the number "zero"

[2020-01-31 17:45] galenriley opened #59 "Add Partners screen in drawer"
SGs may want to promote other initiatives that aren't strictly part of the SG operations- podcasts, bars, charities, etc

Accommodate this in the app

[2020-01-31 17:45] galenriley commented on #59
Bonus idea- take the cards on this screen an randomly select or splice one into the feed

[2020-01-31 20:07] galenriley commented on #19
Add .season for metadata purposes
Add .active for the usual purpose, change endpoint

On "All Foes" screen, only show .active Foes, add a checkbox to include "Show inactive Foes" at the top and re-render

[2020-01-31 20:12] galenriley commented on #19
Include season/competition in the summary after opponent like uhh
{.opponent} - {.season} {.competition}

use .textColor for label text, .accentColor as border around the panel

![image](https://user-images.githubusercontent.com/545799/73571184-09b7fa00-443c-11ea-9910-493c803e1aee.png)

[2020-01-31 20:15] galenriley commented on #54
Most of this is done. Is it possible to include those extra fields in the same search on the filter box?
I do something very similar here (but I forgot category)
https://github.com/Chattahooligans/hooligan-hymnal-app/blob/master/src/screens/PostAttachmentSelectSong.js

[2020-01-31 20:17] galenriley commented on #55
This is pretty great. The only change that I'd like is to alpha-sort the player dropdown

[2020-02-01 00:35] cMoney667 commented on #54
They should already be in there..

[2020-02-01 03:16] galenriley commented on #54
.title, .lyrics work

.referenceTitle, .category do not

[2020-02-01 03:21] galenriley commented on #54
changing reference_title to referenceTitle in the logic, which may fix the first part. No idea why .category isn't searching

[2020-02-01 03:25] galenriley commented on #54
that fixed it for .referenceTitle, nothing for .category though

I don't have enough understanding to troubleshoot why

[2020-02-01 03:41] galenriley commented on #18
ParsedText uses a font from the Skin

Not making every StyledText also a ParsedText

[2020-02-01 03:41] #18 closed, assigned to nobody

[2020-02-01 03:42] galenriley opened #60 "iOS differences"

[2020-02-01 03:42] galenriley commented on #60
Every Picker component

[2020-02-01 03:42] galenriley commented on #60
Roster tabs are at bottom

Edit: I don't think this can be fixed on the current version of react-navigation, or at least i wasn't able to tonight. @tacoman is working on bringing us from v1 to v4, then will try again.

[2020-02-01 03:43] galenriley commented on #60
Back button is inaccessable on Player screen, when coming from a Post Attachment

Edit: I could not replicate this on the iPhone SE, though the button does ride a little high on that screen. Will look into a platform-conditional fix soon

Edit2: nm fixed

[2020-02-01 06:23] cMoney667 commented on #54
Ok will look at in the morning and get it fixed

[2020-02-01 16:06] tacoman opened #61 "Freeze button for current roster info"
Per @galenriley : "A FREEZE button on the roster screen that goes in and adds .override.position and .override.squadNumber for every player in the list, based on whatever their positions and squadnumbers are in the players collection at the time it was clicked"

This way if a player transitions positions over time or numbers, the historical data remains accurate while the current record is allowed

[2020-02-01 19:45] #2 closed, assigned to rsinger, galenriley

[2020-02-01 19:49] galenriley opened #62 "Images"

[2020-02-01 19:50] galenriley commented on #62
The units for height/width in expo/RN aren't pixels. They're dimensionless, which puts an extra complication on how big we need to save or serve images.

TODO: Decide on size/quality images to serve for in-feed/fullscreen/thumbnail/avatar scenarios

[2020-02-01 19:51] galenriley commented on #62
Cloudinary has a couple of ways to index an entire folder
https://support.cloudinary.com/hc/en-us/articles/202521082-How-to-list-all-images-within-a-folder-
I'd like to take advantage of that in two ways:
- Common Images (SGs tend to repost the same stuff over and over again, and supporting this behavior in software will save us some space on our Cloudinary free tier and make the admins' lives eas

[2020-02-01 19:51] galenriley commented on #62
TODO: Figure out how captions/photo credit work. Can we/should we store these in image metadata? in the database?

[2020-02-01 20:18] galenriley commented on #62
Proposed file structure (undescore/dash/camel naming conventions TBD)

- common*1
- channels/{channel._id}_avatar.png
- channels/{channel._id}_header.png ({channel._id}_hero.png? {channel._id}_background.png?)
- feed/?*3
- foes/{foe._id)_logo.png
- player_thumbnails/{player._id}_thumbnail.png
- players/id/*2

*1 - store path, return index of subfolders/images
*2 - store path, return index of subfo

[2020-02-01 20:22] galenriley commented on #62
Does anyone know of a great RN image viewer control that behaves like FB?
Plus, how do we view them when not in fullscreen mode?

[2020-02-01 20:22] galenriley commented on #62
The post creation part of all this is going to be a nightmare

[2020-02-02 05:41] galenriley commented on #60
Home screen swipe-down-from-top RefreshControl doesn't appear on iOS, despite working with styling options

Edit: Added one. I wish I could get it to float on top, but i can't figure out how

[2020-02-07 19:01] galenriley opened #64 "Create Prideraiser attachment type"
Put live campaign data in the feed!

[2020-02-08 00:00] galenriley opened #65 "unify client services"
Bring login into the axios pattern
on creating a post, first check that we are logged in and try to login again if not

[2020-02-10 14:54] #39 closed, assigned to nobody

[2020-02-10 14:55] tacoman commented on #39
MongoDB Atlas does not allow for API creation/modification of M0 clusters, which are the free-tier that we use inside of our budget. Cloudinary also does not have a Terraform provider. If we move away from our current PaaS suite then this may be picked up again, but for now it's impossible.

[2020-02-10 15:12] tacoman commented on #13
We use .default instead to choose an initial roster. After discussions we've decided that .priority would be confusing in terms of making the sorting non-alphabetical and are skipping it.

[2020-02-10 15:13] #13 closed, assigned to nobody

[2020-02-10 15:27] tacoman commented on #31
This was done as part of the news feed push and testing seems to have gone well. Any specific integration points or bug fixes will be filed as separate issues.

[2020-02-10 15:27] #31 closed, assigned to tacoman, galenriley

[2020-02-10 15:33] tacoman commented on #37
This will require some logic around our new scheduled posts functionality. Anytime we save a player, we should check for the birthday changing. If so, run a search in scheduledtasks for any items that have a matching .playerId and type="birthday reminder", and clear them out. (We need to do this for both the in-memory scheduler and in Mongo.) Regardless, add a new task that publishes a templated n

[2020-02-10 15:35] tacoman commented on #49
NPM. Apparently its advanced by quite a bit and it's what I've been reaching for by default and having the most luck with.

[2020-02-11 13:47] galenriley opened #67 "Add example_Settings.js (config), example_app.json, and other related files to facilitate new deployments"

[2020-02-14 03:36] galenriley opened #68 "Remove legacy send/compose song (server)"
Remove old /api/notifications logic
Hard-code /api/notifications/last to return something like this
https://chattahooligan-hymnal.herokuapp.com/api/notifications/last

[2020-02-14 03:36] galenriley opened #69 "Remove legacy send/compose song (app)"
Remove legacy buttons from CapoHome

[2020-02-14 03:39] galenriley opened #70 "Check channel permissions before posting/editing/un-activating"
currently we only check user.feedAllowed
Need to also check channel.users[user_id].canCreate/canEdit/canDelete/canPush

This check is already done in the client

[2020-02-14 14:09] galenriley opened #71 "Send push receipts in response on feed post creation"
Not getting pushes again, and no way to troubleshoot why after push receipts were removed. Please put them back in

[2020-02-16 14:51] galenriley opened #72 "Add scheduled posts after SDK 36 upgrade"
https://github.com/mmazzarolo/react-native-modal-datetime-picker
doesn't work

maybe related to this
https://github.com/react-native-community/react-native-datetimepicker/issues/38#issuecomment-580508932

[2020-02-16 15:29] galenriley opened #73 "Add popup menu for hide/edit post"
The previous menu packge never quite cooperated. Consider this one
https://github.com/mxck/react-native-material-menu#readme

[2020-02-17 03:08] galenriley opened #74 "Investigate Player crash on academy coaches"

[2020-02-18 02:30] galenriley commented on #43
Good wisdom on when to use which Touchable here
https://stackoverflow.com/questions/39123357/when-to-use-touchablenativefeedback-touchablehighlight-or-touchableopacity

[2020-02-20 00:15] galenriley commented on #74
issue cropped up because player.images[] was undefined

[2020-02-20 00:15] #74 closed, assigned to galenriley

[2020-02-22 14:46] tacoman commented on #49
Hit merge on the two linked PRs and we're golden.

[2020-02-22 15:14] tacoman commented on #67
What would be even more powerful: default_settings.js, default_app.json. And then have the overrides be in a separate file, and the app merges them together into one object at runtime.

That way if something is changed like font sizes, colors. etc. in the defaults or in the Chattahooligan version, I can cleanly merge without fear of having my current settings overridden.

[2020-02-22 23:14] tacoman commented on #25
Fixed by the supertoken branch.

[2020-02-22 23:14] #25 closed, assigned to tacoman

[2020-02-22 23:17] tacoman commented on #67
See also https://github.com/Chattahooligans/hooligan-hymnal-app/issues/36 when working on this. It probably makes sense to tackle both of these at once since they involve significant configuration reworks.

[2020-02-22 23:18] tacoman commented on #36
We will need to ensure that we save the sharedConfig locally in global storage and default to the saved version when loading in offline mode.

[2020-02-22 23:21] tacoman opened #78 ""Tweet all attached players" button"
If there's multiple players with Twitter handles attached to a post, we should have a "tweet all" option that opens Twitter with all of them at once.

[2020-02-24 00:52] #58 closed, assigned to nobody

[2020-02-24 00:54] #78 closed, assigned to tacoman

[2020-02-24 23:33] galenriley opened #82 "Implement <ParsedText> in full screen image captions"

[2020-02-24 23:34] galenriley opened #83 "Put ParsedText helper functions in their own file and import it everywhere to mitigate copy paste code"

[2020-02-25 17:11] galenriley commented on #73
Add "Stats" option to look at notification engagements

[2020-02-25 17:11] galenriley commented on #73
... If a post is push=true

[2020-02-25 17:45] galenriley commented on #82
Add long press to copy to clipboard as well

[2020-02-25 20:41] #83 closed, assigned to galenriley

[2020-02-26 03:06] galenriley opened #85 "Common photo credit UI in image metadata"

[2020-02-26 11:45] galenriley opened #86 "Box Score attachment type"
Use Foes data for opponents

How to get home team?

[2020-02-26 12:03] galenriley commented on #86
Maybe this should wait until after events are included in the app

[2020-02-26 20:42] #85 closed, assigned to nobody

[2020-02-26 20:42] #82 closed, assigned to galenriley

[2020-02-26 21:28] galenriley opened #88 "(Chattahooligans) Switch from Heebo fonts to Roboto fonts"
fix ParsedText on ios to use fontFamily instead of fontweight/fontstyle

...Detroit, get your own typeface or use the default OpenSans that's already in /assets/

[2020-02-26 21:28] galenriley commented on #88
https://fonts.google.com/specimen/Roboto

[2020-02-26 21:34] galenriley commented on #88
use Platform.select() for CSS as on SongCard.js line 88

[2020-02-26 21:35] galenriley commented on #88
for default case, add ItalicText to StyledText and add this to the assets
https://fonts.google.com/specimen/Open+Sans

[2020-02-28 20:13] gclimer opened #91 "Differentiate channel notifications"
Determine best way to integrate channel-specific push notifications based on token + ???

Users should be able to set channel-level notification settings when implemented

[2020-02-28 20:16] gclimer commented on #91
Context on discussion from slack:

gclimer: how does the push token interface with the app to trigger the notification?

can you add a simple context as part of the push string? token:channel, and have the app parse it against local setting to trigger the notification or not? (i have no idea how pushes work from the os perspective )

tacoman: basically, Apple's push services and Android firebase a

[2020-03-02 19:55] galenriley commented on #71
Still not working. Here are logs from chattahooligan-dev

` 2020-02-29T15:26:04.546368+00:00 app[web.1]: CHECKING FOR PUSH
 2020-02-29T15:26:04.546436+00:00 app[web.1]: PUSH TRUE
 2020-02-29T15:26:04.546522+00:00 app[web.1]: sending push...
 2020-02-29T15:26:04.546649+00:00 app[web.1]: ABOUT TO RETURN
 2020-02-29T15:26:04.559233+00:00 app[web.1]: trying to send notification to token:  ExponentPush

[2020-03-03 02:04] galenriley commented on #71
expanding error.details on chattahooligan-dev yields

{"@chattahooligan/chattahooligan-hymnal":["ExponentPushToken[NQjQBqBjcnAfQk8N-3R2al]","ExponentPushToken[HcDpdlINasiVlvc8fOIlEa]","ExponentPushToken[I8QML2Ir_01kPeOXEfjizU]","ExponentPushToken[jqoXnuCi8Acw2sk9Dtq_C2]"],"@ngsdetroit/chattahooligan-hymnal":["ExponentPushToken[rA-sHTCBP85w2U3D9kix17]","ExponentPushToken[r76-uHJwwHZM8y5OwgXNOW]"]}

[2020-03-03 02:06] galenriley commented on #71
for some reason, response.data is valid inside feedService.createPost but not returning sucessfully. Shows as undefined after the function exits

[2020-03-03 02:09] tacoman commented on #71
Deleting those would help for sure. Regarding your broken return issue: this may be why:

UnhandledPromiseRejectionWarning: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client

Maybe multiple attempts to send data or set the error code are doing this. I'd look into that error to be sure, but I'd bet you it's the root.

[2020-03-03 02:17] galenriley commented on #71
that error is triggered by

res.send({ errors: errors, receipts: receipts });

[2020-03-03 02:34] galenriley commented on #71
feedController .store appears to return before pushHandler completes

maybe this should be in an ELSE block, if .push is not true?
return res.json(feedItem);

and/or maybe pushHandler doesn't need to be calling res.send() in the first place, but instead return something that's used in the calling block in the first place

logs:
2020-03-03T02:28:14.286748+00:00 app[web.1]: CHECKING FOR PUSH
2020-03

[2020-03-03 02:35] galenriley commented on #71
i could misunderstand how Promises work, but something is def fishy with how the logs come out vs when the code is executed.

Maybe async/await for pushHandler will do the job?

[2020-03-03 02:36] tacoman commented on #71
Honestly, it should be the latter, and res shouldn't be passed in- but I struggled to get async/await to work when I tried doing it, and obviously I failed to do it via promises as well. Collin or you might be able to fix it in short order.

[2020-03-03 02:38] galenriley commented on #71
Lmk when you are able to code again. I don't have the capacity to learn how all of the server code works from scratch and also not be 2 months behind on starting Prideraiser. At least we have a hint on what's happening and how to fix it

[2020-03-06 20:51] wedemmoez commented on #34
I can work on this! Swapping assets to DBG now, I'll make notes of where everything is referenced

[2020-03-06 20:58] galenriley commented on #34
suckerrrr

[2020-03-06 20:59] galenriley commented on #34
(Thank you!! The endgame is to have assets.md address everything a new SG might want to know so they can prep their stuff.)

[2020-03-07 03:01] galenriley commented on #88
oh hey this is complete

[2020-03-07 03:01] #88 closed, assigned to galenriley

[2020-03-07 17:23] #69 closed, assigned to galenriley

[2020-03-07 17:23] #68 closed, assigned to tacoman

[2020-03-07 17:24] galenriley commented on #62
Leaving this open until @shortnd confirms folder structure is in a place where we are all happy with it

[2020-03-07 17:25] #53 closed, assigned to nobody

[2020-03-07 17:27] galenriley commented on #33
will be fixed in expo SDK 37, but we must submit new builds before apple stops accepting them in April 2020

[2020-03-08 19:20] #73 closed, assigned to nobody

[2020-03-08 22:19] galenriley commented on #51
This is kinda accomplished with yellow/red cards, but i bet there is a better way to do it with new react-navigation

[2020-03-09 13:59] gclimer opened #96 "Stats element does not work in iOS"
After touching the "Stats" element from the post's drop-down menu, the menu collapses and no stats appear.

[2020-03-09 14:00] gclimer opened #97 "Hide Post element does not work in iOS"
When selecting "Hide Post" from the post's drop-down menu, a message confirming you wish to hide the post appears briefly before disappearing, and renders the screen "frozen". Force close/open returns the app back to normal.

[2020-03-09 21:04] galenriley commented on #96
Addressed in v1.15.1

[2020-03-09 21:04] #96 closed, assigned to nobody

[2020-03-09 21:05] galenriley commented on #97
Addressed in v1.15.1

[2020-03-09 21:05] #97 closed, assigned to nobody

[2020-03-11 00:40] galenriley commented on #71
Latest error
`2020-03-10T16:38:15.695039+00:00 app[web.1]: There was an error sending a notification: {"id":"01daeac4-3a18-4336-857d-25e1d0b9a505","status":"error","message":"The recipient device is not registered with FCM.","details":{"error":"DeviceNotRegistered","fault":"developer"}}
2020-03-10T16:38:15.695163+00:00 app[web.1]: Receipt cleanup error:  TypeError: Cannot read property 'length' of

[2020-03-11 00:44] galenriley commented on #71
This error comes from pushHandler.js line 141. It's probably referring to the regex check returning null instead of an empty array, but that's just a guess.

What's interesting is that these "device not registered with FCM" error types is that there's no pushtoken in the message that we can subsequently go delete. I'm not sure how to handle them?

Maybe the receipt ID can be used as a lookup (to w

[2020-03-11 00:50] galenriley commented on #71
Maybe we can make an array for every token in a particular chunk, look at every receipt (i think the valid tokens can be found in succesful receipts), and flag those that were good and delete everything else?

[2020-04-25 18:29] galenriley opened #99 "Fix height/padding/margin of /components/NavigationBar.js"

[2020-05-01 02:07] galenriley opened #101 "Admin site tweaks"
- [ ] on songbook/chapters edit screen, sort songs on the left screen by alpha (we'll take it one step more elegant later, but alpha sort will be great for now
- [ ] add remove icon on songbook/chapters edit screen, to align with roster editing/sorting screen

[2020-05-01 02:08] galenriley commented on #101
The new stuff works. I'm so grateful- thank you!

[2020-05-12 22:31] galenriley opened #102 "Run code through Prettier"
After SDK37 is up and running

[2020-05-18 16:00] cMoney667 commented on #55
Closing issue as it was addressed on Feb 2nd

[2020-05-18 16:00] #55 closed, assigned to shortnd

[2020-05-22 20:13] galenriley commented on #101
addressed in https://github.com/Chattahooligans/hooligan-hymnal-server/pull/68

[2020-05-22 20:13] #101 closed, assigned to shortnd

[2020-05-24 21:10] galenriley opened #103 "Fix tabs after SDK37?"
Running into this
https://stackoverflow.com/questions/59949770/error-while-updating-property-accessibilityrole-of-a-view-managed-byrctview

Did the tab-view 2.7.0 package thing suggested in the comments

It may get fixed in expo SDK 37, then we can undo the package manager stuff
https://github.com/react-native-community/react-native-tab-view/issues/1000

[2020-05-28 04:41] #54 closed, assigned to shortnd

[2020-05-28 04:41] #19 closed, assigned to shortnd

[2020-06-03 16:27] tacoman commented on #49
@galenriley I know we ran into some kind of issue with this, why did we need to re-open?

[2020-06-03 16:38] galenriley commented on #49
No recollection

On Wed, Jun 3, 2020, 12:27 PM tacoman <notifications@github.com> wrote:

[2020-06-03 16:41] tacoman commented on #49
I'm going to close this for now then. If there's an outstanding issue, we can re-open.

[2020-06-03 16:41] #49 closed, assigned to tacoman

[2020-06-03 20:47] galenriley commented on #103
this rolled up into nav5 refactor

[2020-06-03 20:47] #103 closed, assigned to nobody

[2020-06-03 20:48] galenriley commented on #99
fixed in nav5 refactor

[2020-06-03 20:48] #99 closed, assigned to galenriley

[2020-06-03 20:48] galenriley commented on #64
Addressed in version 1.16.X

[2020-06-03 20:48] #64 closed, assigned to galenriley

[2020-06-03 20:49] galenriley commented on #60
all fixed as of nav5 refactor

[2020-06-03 20:49] #60 closed, assigned to nobody

[2020-06-03 20:49] galenriley commented on #51
addressed in nav5 refactor

[2020-06-03 20:49] #51 closed, assigned to nobody

[2020-06-03 20:50] galenriley commented on #10
went from react-navigation v1.X to 5

[2020-06-03 20:50] #10 closed, assigned to nobody

[2020-06-03 20:52] galenriley commented on #5
configurable web links in the drawer are part of nav5 refactor

Collapsible groups aren't supported yet, and idk how to implement such a thing right now, so that's up to @tacoman to keep this Issue open or nah

[2020-06-03 21:00] galenriley opened #105 "Post navigation v5 refactor checklist"
- [x] Extract Settings.js to top level config.js
- [x] Refactor and document config.js as necessary
- [x] Move root navigation drawer to config.js
- [x] Replace Ionicons with something else from expo-vector-icons
- [x] move capo bottom of drawer
- [x] move About to bottom of drawer?
- [x] i18n tidying up
- [x] rename and document assets
- [x] home screen hero image
- [x] hide common image credit s

[2020-06-04 19:45] cMoney667 commented on #62
@galenriley thoughts on the folder structures that has already been in uses.. they are close to what you had above but some have been slightly modified.

[2020-06-04 20:06] galenriley commented on #62
We have only been using the feed images so far, and one item in channels.
Feed works very well.

In theory, we'll have player photo albums coming in the app eventually,
though that may be shuffled in favor of using phone local storage to cache
data. Are y'all using player photos widely? (I have an album on imgur that
I reference by editing the database directly. Was waiting on the go-ahead
to use

[2020-06-06 00:08] tacoman commented on #42
That whole line and that field is useless. We already have update_time to automatically handle this any time the record is saved again. There's no reason to store a string with timezone-unaware information as well.

[2020-06-06 00:39] tacoman commented on #7
Looks like camelCase is the preferred option by both myself and the docs. Renaming can be done via: https://docs.mongodb.com/manual/reference/operator/update/rename/

So this will require updating the field name references in the schema and the client code, and then creating a script full of these rename statements to fix.

@galenriley  and @wedemmoez , please set yourself as watchers on this issu

[2020-06-14 02:34] galenriley opened #115 "Truncate really long Post text with a tap-to-read-more thingy"

[2020-06-14 20:42] galenriley opened #116 "Refactor i18n.components.imageviewer into .post"
Or somewhere else? idk, think about it when brains are available.

[2020-06-14 20:43] galenriley commented on #116
This may be used inside the Player profile screen, whenever we revisit that and add player photo albums

[2020-06-14 21:09] galenriley opened #117 "Refactor i18n .settings section into something that is more forward-looking"
Right now, .settings is a top level section and .socialEN, .socialES, .other are direct children.

This should totally be more-better overall, with those items all going into a .settings.socialbuttons object at minimum.

[2020-06-15 12:50] tacoman commented on #65
Login will be brought into the Axios pattern by https://github.com/Chattahooligans/hooligan-hymnal-app/pull/118

The post check will require slightly more work.

[2020-06-15 19:15] galenriley commented on #34
@wedemmoez , I'm working this in the two-dot-oh branch right now

[2020-06-15 19:48] galenriley commented on #67
config-example.js will exist in 2.0

I like the idea of merging stuff on top of defaults, but that pattern falls apart for app.json and the locale file. Still wanna investigate that or safe to close the issue?

[2020-06-15 19:50] galenriley commented on #65
Okay with closing this Issue once the PR is done/merged, and then we can create a new one for checking login is valid before applying the post. I forget the inspiration for that element of this issue

[2020-06-15 19:50] galenriley commented on #65
oh, was it a login timeout thing?

[2020-06-15 19:51] galenriley commented on #45
Think we can get this in as part of that big 2.0 release, @tacoman ?

[2020-06-15 19:52] galenriley commented on #43
This is mostly done, esp with BigButton refactor, but I should give it a once-over before closing the issue

[2020-06-15 19:56] galenriley commented on #3
The issue described in the initial comment is resolved. Close this and create a new issue just for RTL, @tacoman ?

Good news is GitHub Issues support checklists now, which is very handy

[2020-06-15 23:12] galenriley opened #121 "Rename Palette.Secondary to Palette.Accent and refactor appropriately"

[2020-06-15 23:13] galenriley commented on #121
fix /docs/assets.md when this is done

[2020-06-16 17:25] galenriley opened #122 "Server firstrun seed data"

[2020-06-16 17:25] galenriley commented on #122
**Song**
title: "Example Song",
lyrics: "Example Lyrics",
referenceTitle: "To the tune of _____",
referenceLink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ"

**Songbook**
songbookTitle: "Example Songbook",
chapters: [
chapterTitle: "Example Songbook Chapter",
songs: [{_id: id of example song, hint: "Example Song"}]
]

and similar for Player/Roster

[2020-06-16 17:28] galenriley commented on #122
**Channel**
name: "Your Supporters Group",
defaulLocale: "en",
active: true,
users: [
{
_id: ID of admin user,
canCreate: true,
canEdit: true,
canDelete: true,
canPush: true
}
]

[2020-06-16 18:18] galenriley opened #123 "Revisit padding/margins across the app"
esp feed screen, maybe songbook

[2020-06-16 18:51] tacoman commented on #45
Addressed as part of https://github.com/Chattahooligans/hooligan-hymnal-app/pull/112 and https://github.com/Chattahooligans/hooligan-hymnal-server/pull/72

[2020-06-18 01:32] galenriley commented on #123
Post component is done in 2.0

[2020-06-18 01:32] galenriley commented on #115
Implemented in 2.0.0

[2020-06-19 17:11] galenriley commented on #105
Step by step docs will need improvement based off guinea pig experience, but this ever-expanding checklist is complete

[2020-06-19 17:11] #105 closed, assigned to nobody

[2020-06-19 17:12] galenriley commented on #56
This got accidentally implemented in 2.0

[2020-06-19 17:12] #56 closed, assigned to nobody

[2020-06-19 17:13] galenriley commented on #34
Done, son!

[2020-06-19 17:13] #34 closed, assigned to tacoman, galenriley

[2020-06-19 17:13] galenriley commented on #33
Fixed in 2.0. (Assuming expo ain't lyin about SDK37)

[2020-06-19 17:13] #33 closed, assigned to nobody

[2020-06-19 17:15] galenriley commented on #3
@tacoman, I'm closing this Issue. Please consider a fresh ticket when we wanna give RTL another look.

[2020-06-19 17:15] #3 closed, assigned to galenriley

[2020-06-19 17:15] #5 closed, assigned to nobody

[2020-06-19 17:16] #123 closed, assigned to nobody

[2020-06-19 17:28] galenriley commented on #121
Not gonna do it

[2020-06-19 17:28] #121 closed, assigned to nobody

[2020-06-21 16:15] galenriley opened #127 "Fix admin login"
unify globalData.state.currentUser and .bearerToken

[2020-06-23 01:00] tacoman opened #128 ""Submit an idea" in the Player songs should link to a page or form to submit an idea"
Making it clickable is much more likely to get people to submit ideas. Challenges: links like this usually live in config, but this text is customized via locale. Might need to include an interpolation variable for the link in the locale data, then put the link itself in a config variable. Maybe include two locale vars, one for a version with the link and one without, to avoid issues?

Reported by

[2020-06-23 01:39] galenriley commented on #128
Option A: Punt until we get user accounts and in-app chant submissions
Option B: Add basic markdown support to the field and let them put a link in the locale (bonus effect- different submission links for different languages, for groups who go whole hog into translations)
Option C: Text in locale, link in config, turn it into a buttton (or at least a tappable field)
Option D: Don't touch it

[2020-06-23 01:40] tacoman commented on #128
I think C -> B -> D -> A personally.

[2020-06-23 01:45] galenriley commented on #128
I wanna revisit the whole Player screen anyway. Let's kick this to 2.1 or beyond and consider how it fits into the larger puzzle. Will change the default locale to "contact us and submit an idea" in the interim

[2020-06-23 02:03] galenriley opened #129 "Figure out /api/foes/active bug and also implement in the client app"

[2020-06-23 02:04] galenriley commented on #129
and/or check /active vs /all on the client app everywhere after server changes are merged

[2020-06-23 02:07] galenriley opened #130 "rename TwitterList, MassTweet, MultiTweet"
what a damn mess i am ashamed

[2020-06-23 02:08] galenriley commented on #130
PSA MassTweet is the name of a post attachment type

[2020-06-24 19:31] galenriley commented on #65
There's one more fetch() call that should be migrated to axios- the push token registration in /containers/GlobalDataContainer.js

[2020-06-24 19:33] galenriley opened #131 "implement songbook.frontCover on client, fall back to default from config"

[2020-06-24 19:36] galenriley commented on #131
done

[2020-06-24 19:36] #131 closed, assigned to galenriley

[2020-06-26 02:39] galenriley opened #134 "Improve Drawer Hero background"
Drawer Menu hero image is now fixed height, 100% width, resizeMode: "cover"

Is there a way to make this look great across all screen sizes?

I just added Skin.NavigationDrawer_HeroOverlayHeightProportion to let the SGs configure how the overlay logo fits into this panel, but I feel like there's a better solution for the background image size than just fixed height.

[2020-06-26 02:42] galenriley commented on #134
Maybe this whole thing should just be a single image, rendered just like we want it to look, and we should abandon this background/transluscency/logo sandwich idea. That doesn't correct the fixed height / UI prettiness issue, but it removes a convoluted layout and configuration

[2020-06-26 02:48] galenriley commented on #134
/components/HomeVideoPanel and VideoBackground are just as wonky, with the added difficulty that we don't know the proportions of the video file itself

[2020-06-26 14:13] galenriley commented on #134
Added Skin.NavigationDrawer_HeroBackgroundHeight, so at least the fixed height is configurable

[2020-06-28 21:18] wedemmoez opened #137 "Use in-app browser to open web links"
In 2.0.0, the app link behavior was changed to open links to external sites in the OS browser. The user then has to manually switch back to the application.

[2020-06-29 14:12] galenriley commented on #137
Will do this inside config, but should name the config property with the assumption that this behavior will eventually be a user setting

[2020-06-29 14:42] galenriley commented on #129
Missed one, @tacoman. /api/foes is still returning objects where the active flag is false. I just confirmed in our app and by hitting the API through a browser

[2020-06-29 14:43] galenriley commented on #122
@shortnd, i believe you implemented this on the server? If so, you can close this issue item

[2020-06-29 14:43] #102 closed, assigned to galenriley

[2020-06-29 14:44] #70 closed, assigned to tacoman

[2020-06-29 14:45] galenriley commented on #45
/api/foes got skipped. Can you check the others, just to be sure, @tacoman?

[2020-06-29 14:46] #42 closed, assigned to tacoman

[2020-06-29 14:46] #20 closed, assigned to nobody

[2020-06-29 17:25] galenriley commented on #137
Maybe the config should have two flags, one for each platform?

[2020-06-29 17:26] wedemmoez commented on #137
For now that might be a fine solution. I really like the idea of making it a user choice in the future

[2020-06-29 22:05] galenriley opened #139 "Player UI considerations"
Current version doesn't crash any more, but it's a wonky pattern.

At minimum, need to implement a `PlayerView` component and `SinglePlayer` screen to match Song pattern

But also, the whole Roster/Player/Song or Roster/TwitterList interaction is weird and the backbutton behavior is not sensible, so let's think about the whole thing.

[2020-06-29 22:09] galenriley commented on #139
but like also the whole thing needs to be revisited, what with player image galleries and so on

[2020-06-29 22:20] galenriley commented on #139
oh hey also there's a buncha calls like
this.props.navigation.setOptions({ header: null });
all over the place that don't cause harm to exist but do nothing (because the behavior we want is set in the navigator setup currently, and the way to do it in the screen is different) so delete all of those when addressing this ticket

[2020-06-30 16:53] wedemmoez opened #140 "Table of contents page label is fixed width"
This sometimes leads to the page numbers being on two lines for devices with a narrow screen or large OS text size.

![image](https://user-images.githubusercontent.com/7355157/86154201-575a9080-bac8-11ea-8601-4a27102ffdd0.png)

[2020-06-30 20:21] galenriley commented on #137
Proposed implementation in #141 for v2.1.0. Please review.

[2020-06-30 21:03] #122 closed, assigned to shortnd

[2020-06-30 22:04] #67 closed, assigned to nobody

[2020-06-30 22:05] #129 closed, assigned to tacoman, galenriley

[2020-06-30 22:05] #45 closed, assigned to tacoman

[2020-06-30 22:05] #7 closed, assigned to tacoman, shortnd

[2020-07-01 15:10] galenriley opened #142 "Consider heroku free tier option + documentation + process"

[2020-07-01 15:11] galenriley opened #143 "Consider shared Google Play/Apple Developer accounts + documentation"
docs should include instructions on how to transfer ownership of an app OUT of the shared account and TO a SG's account from day one

[2020-07-02 01:15] galenriley opened #144 "screens/AdminLogin.js error on wrong password"
the app hard crashes if an incorrect password is input

not sure on invalid user id

[2020-07-02 18:06] galenriley commented on #115
^ poorly

[2020-07-03 19:21] galenriley commented on #137
@wedemmoez , so this makes sense for links baked into the app, like in the drawer menu

Does it make sense for links in the text of news feed posts?

[2020-07-07 18:47] galenriley opened #146 "Refactor to modern HeaderBackButton and npm uninstall legacy react navigation"
We use HeaderBackButton all over the place that's imported from the legacy react navigation. Change import to @react-navigation/stack and test everything

https://reactnavigation.org/docs/header-buttons/#overriding-the-back-button

[2020-07-07 18:48] galenriley commented on #146
also try and get rid of react-navigation-tabs

[2020-07-07 21:11] galenriley opened #147 "consider adding app.json to main branch"
expo cries if the slug and bundle id don't match a regex, so maybe we can add this back

possible to add config.js/en.json as well? ponder on it, and update the deployment docs as appropraite

[2020-07-10 14:01] galenriley commented on #147
decided not to

[2020-07-10 14:01] #147 closed, assigned to galenriley

[2020-07-10 15:04] #146 closed, assigned to galenriley

[2020-07-10 15:04] #144 closed, assigned to nobody

[2020-07-10 15:04] #48 closed, assigned to nobody

[2020-07-10 15:06] wedemmoez commented on #137
Links in text posts can be linked to the config option? it should be a global setting

[2020-07-10 15:07] galenriley commented on #137
It's currently a single global setting, just didn't know if posts in the news feed should be different

[2020-08-17 15:08] tacoman opened #149 "Write backup and restore guide"
Cover manual backups as documented by MongoDB Atlas as well as the automatic method used by the Guardbook team.

[2020-08-17 22:51] #149 closed, assigned to nobody

[2020-10-28 21:10] galenriley opened #152 "Add instagram icon to Player attachment"
Per Geoff Climer request

[2020-10-28 21:10] galenriley opened #153 "Add attachment/screen to tag whole roster on instagram"
Analog to the current MassTweet attachment/screen, Per Geoff Climer request

[2020-11-18 18:21] galenriley opened #157 "Admin / copy roster"
In theory, clubs can expect some commonality from season to season. To save on data entry time, add the ability to make a copy of an existing roster. Prompt for a new roster title (and other fields that must change, as appropriate), and copy the players list to the new db record.

Is this a good idea and can it be implemented before NISA 2021 Spring season player signings?

[2020-11-21 21:59] cMoney667 commented on #157
I will look into this either tonight or tomorrow

[2021-01-30 20:26] galenriley opened #160 "Make "Connected to" url on the Admin Home screen a link (or at least make it a selectable text field)"

[2021-02-07 17:41] tacoman opened #161 "Mass tweet post attachments fail for inactive rosters"
Because the roster data isn't cached locally, it comes up as undefined within the attachment.

We don't want people tweeting inactive rosters on old news posts anyway, so the attachment can be rendered as a no-op in this case.

[2021-03-09 20:34] tacoman opened #163 "Splash screen crash on iOS"
We fixed this currently in Guardbook [at this commit](https://github.com/Chattahooligans/hooligan-hymnal-app/commit/8c79adf08f709d931d48f8dd060e0f3079acef9d). Expo updated how the splash screen has to be requested.

[2021-03-12 03:09] galenriley commented on #160
Addressed by @gclimer, to be released with #156

[2021-03-12 03:09] #160 closed, assigned to galenriley

[2021-03-12 03:10] galenriley commented on #163
Addressed by @shortnd, to be released with #156

[2021-03-12 03:10] #163 closed, assigned to nobody

[2021-03-13 15:31] galenriley opened #165 "Server channel editing"
After database check, names on channels are pulled from replicated data rather than referring to the original. For older assignments, this is null/blank
![image](https://user-images.githubusercontent.com/545799/111035114-e5707000-83e6-11eb-9648-3e691dd44bcc.png)

Looks like this when editing:
![image](https://user-images.githubusercontent.com/545799/111035128-f8834000-83e6-11eb-9cd5-764660c0001e.p

[2021-04-16 02:02] galenriley opened #171 "add button to get to InstagramList to Roster Team page"

[2021-04-16 02:03] galenriley commented on #161
Fixed in v2.3.0, new PostAttachmentExpired type

[2021-04-16 02:03] #161 closed, assigned to nobody

[2021-04-16 02:03] galenriley commented on #153
Added in v2.3.0 (thanks @gclimer!)

[2021-04-16 02:03] #153 closed, assigned to nobody

[2021-04-16 02:04] galenriley commented on #152
Added in v2.3.0 (Thanks, @gclimer!)

[2021-04-16 02:04] #152 closed, assigned to nobody

[2021-04-16 02:06] galenriley commented on #137
@wedemmoez, I know link handling came up again today in conversation. Can you either make a request for me or close this issue ticket?

[2021-04-16 02:06] galenriley commented on #127
Fixed in 2.1

[2021-04-16 02:06] #127 closed, assigned to galenriley

[2021-04-16 02:11] wedemmoez commented on #137
Not urgent, but possibly a way to select which links open in an internal browser vs externally? its an extremely limited use case so I'm going to close this until it becomes a necessity.

[2021-04-16 02:11] #137 closed, assigned to nobody

[2021-04-16 02:42] wedemmoez commented on #140
Still present in 2.3.0 on some android devices. ![image](https://user-images.githubusercontent.com/7355157/114963963-734ed900-9e33-11eb-956b-d76d172d335d.jpeg)![image](https://user-images.githubusercontent.com/7355157/114963967-75189c80-9e33-11eb-8596-c21662608e06.jpeg)

[2021-04-16 15:28] galenriley opened #173 "Add close/back button to image viewer in news feed"

[2021-04-16 15:29] galenriley opened #174 "Explore "common images""
recycled images used for a particular promotional function (match day alert, tweet the players, etc) or memes, use the existing file instead of reuploading

will need help from server/API to index a /common/ path on cloudinary and get a list of files

[2021-04-24 16:09] galenriley opened #175 "Fix save image to local"
ex,https://github.com/ascoders/react-native-image-viewer/issues/345

will require some permissions
https://docs.expo.io/versions/latest/sdk/permissions/

[2021-05-05 21:48] tacoman opened #178 "Foes: Import CSV"
If the foes list could take in a CSV, it would greatly speed up data entry. In particular, some of our team is fluent with Excel macros and may be able to automatically scrape the UWS site and transform it into a spreadsheet.

[2021-05-05 21:50] tacoman opened #179 "Rosters: Localizable Names"
Currently the players' bio data can be localized, but not the titles of the rosters themselves.

[2021-05-05 22:11] Hucxley commented on #178
PapaParse is great for this, but I'm not sure if this is a client-side or server-side need.  Maybe on client-side, just need standard file input with a reader, and pass the blob to PapaParse to convert server-side.  Then again, if the server is already configured to take a JSON payload, just convert it on the client when the file is uploaded and send the JSON payload like normal.  Here's the link

[2021-05-05 22:13] tacoman commented on #178
Is React required?

[2021-05-05 22:15] Hucxley commented on #178
That's what the rest of the app is written in, so, unless there's a different place that people would be uploading roster files to, I'd assume so.  It's basically just adding a component to upload a file, and then converting what's uploaded to what the server is expecting (again, I assume a JSON payload).

[2021-05-05 22:23] tacoman commented on #178
The app is written in React Native (separate from real React to my understanding), but the admin tools for editing roster data are a non-React website.

[2021-05-06 01:37] Hucxley commented on #178
I don't know where that admin site is, but as long as it's not Word Press or something, PapaParse in plain JS is easy enough.  I may not have that repo on my watch list since I'm new here.

[2021-05-06 02:32] galenriley commented on #178
https://github.com/Chattahooligans/hooligan-hymnal-server

On Wed, May 5, 2021 at 9:38 PM Shane H ***@***.***> wrote:

[2021-07-15 23:43] Hucxley opened #182 "i18n.js getLocalizedBio(bio) can receive undefined from screens/Player.js"
https://github.com/Chattahooligans/hooligan-hymnal-app/blob/2fbedb0b2ef2dfcde95d58d161909e7f50a5e2f5/src/screens/Player.js#L286

App was crashing out when bio was undefined or null.  Validating the attribute is present on the player object, and adding an empty string if it's missing prevents this.

[2021-07-15 23:58] Hucxley commented on #182
I have a commit with the fix for this in it already, but I need to get permission to publish before I can make a PR for review.

[2021-07-18 18:35] #182 closed, assigned to nobody

[2021-09-01 21:37] tacoman commented on #178
The PR in the server has been merged.

[2021-09-01 21:37] #178 closed, assigned to shortnd

[2021-09-01 21:38] tacoman commented on #157
PR was merged and feature is in use.

[2021-09-01 21:38] #157 closed, assigned to shortnd

[2021-09-01 21:42] tacoman commented on #23
@galenriley old issue here, is it still relevant? I can't remember all the motivations involved.

[2021-09-01 21:47] tacoman commented on #35
This can reasonably be implemented per-area, e.g. roster, songbook, feed, etc. On any successful load, we can store the returned JSON in persistent storage. Any attempt to load data should try the network first, and if that fails return the stored data. The result should also include a property indicating whether the data came from online or offline, and control the presence of the banner accordin

[2021-09-01 21:49] tacoman commented on #36
Closing. The config is inherently tied to the client code, not the current state of the server. YAGNI > DRY in this case.

[2021-09-01 21:49] #36 closed, assigned to tacoman, shortnd

[2021-09-01 21:55] tacoman commented on #71
@galenriley I'm getting pushes from Chattahooligan Hymnal and Guardbook both, can we close this out?

[2021-09-01 21:58] tacoman commented on #37
Just noting that this is likely not going to be of interest for the NGS devs since we'd be absolutely flooded. I think an acceptable workaround would be to use scheduled posts once finished to set these up manually if desired. Can we close it?

[2021-09-01 22:00] tacoman commented on #171
Related branch appears to be completed.

[2021-09-01 22:01] #171 closed, assigned to nobody

[2021-09-01 22:02] tacoman commented on #143
Still think this is not a great idea. It's going to majorly increase time complexity and time investment while decreasing the freedom and self-sufficiency of any SG who takes it on.

[2021-09-01 22:03] tacoman commented on #134
Is the above considered an acceptable solution?

[2021-09-01 22:07] tacoman commented on #61
We're not using historical data in this way and for a host of reasons, I believe an attempt at an actual historical recording using Hymnal data would be more damaging than helpful. If folks want to do it anyway, periodically backup your database and archive it to avoid breakage.

[2021-09-01 22:07] #61 closed, assigned to galenriley, shortnd

[2021-09-01 22:09] tacoman commented on #59
There is now a "Fan projects (unaffiliated)" option that resides with the official social medias in the news feed.

[2021-09-01 22:09] #59 closed, assigned to nobody

[2021-09-01 22:11] tacoman commented on #91
Do we still want channels? It seems like a lot of work for what's probably marginal gain. I'm struggling to think of a use-case for our groups' intended directions. What are we going to do, allow turning off push notifications for charitable events? Certain squads? Prideraiser? What if one push is combining all of these categories?

[2021-09-01 22:13] #43 closed, assigned to galenriley

[2021-09-01 22:16] tacoman opened #184 "Roster: iOS crash when canceling selection"
Open the roster picker, then click cancel instead of choosing a roster. The app will crash and restart. Probably just needs to store the initial value when opening it, then use that as a fallback if nothing is found.

[2021-09-02 14:38] galenriley commented on #23
iirc, the server is double-counting checkins, and I forget the background notification fetch thing.

[2021-09-02 14:40] galenriley commented on #35
Agreed. I'd like to see this alongside a pull-down-to-refresh gesture on the roster screen and songbook ToC

[2021-09-02 14:42] galenriley commented on #71
The last I recall, the server is not returning a list of tokens. It should for debugging purposes. Recall that Chattahooligan Hymnal has a current issue with push notifications.

[2021-09-02 14:43] galenriley commented on #37
Yeah, happy to close this one for now. Clubs are starting to pick up this task anyway.

[2021-09-02 14:43] #37 closed, assigned to nobody

[2021-09-02 14:43] galenriley commented on #134
Suboptimal, but acceptable. Closing.

[2021-09-02 14:43] #134 closed, assigned to nobody

[2021-09-02 14:45] galenriley commented on #91
A valid question. As far as I can tell, nobody is fully exploiting the news
feed in the first place, much less channels.

On Wed, Sep 1, 2021 at 6:11 PM taco ***@***.***> wrote:

[2021-09-02 14:55] tacoman commented on #91
NGS is going to work to fix our usage of the news feed. I suggest we close channel-related issues for now and if any SGs get to a point where channels would be considered useful, we design it in cooperation with the users.

[2021-09-25 13:05] tacoman opened #186 "Make roster selector styleable"
Currently the roster selector blends into the UI, which has caused people to not realize they can change it. Color settings should be set for it in the config- we tried using the primary palette color and it just made it blend in a different way.

[2021-11-07 22:05] Mbwata opened #188 "Error posting with picture"
![IMG_1832](https://user-images.githubusercontent.com/44037139/140663464-d0f042d6-f6a4-45f3-875a-9b0a2c4723ac.PNG)

When submitting a post with an image in it, I get an error and the post doesn't go through.

[2021-11-07 22:19] galenriley commented on #188
What are you seeing in your server/heroku logs when this happens? Hopefully
there's a good clue on that end.

On Sun, Nov 7, 2021 at 5:05 PM Matt H ***@***.***> wrote:

[2021-11-07 22:37] Mbwata commented on #188
This is all I saw when I looked at the logs:

::ffff:10.42.0.252 - - [07/Nov/2021:22:29:14 +0000] "POST /api/feed HTTP/1.1" 500 - "-" "Expo/2.21.3.1012198 CFNetwork/1312 Darwin/21.0.0"

Posts without pictures seem to work just fine

[2021-11-07 22:39] galenriley commented on #188
@shortnd - you are the

[2021-11-07 22:40] galenriley commented on #188
@Mbwata - Have you uploaded images successfully before? It's possible that cloudinary never got set up/connected/configured.

@shortnd - You're our server-side expert, here. Do you have any ideas?

[2021-11-07 22:47] Mbwata commented on #188
I've never been able to do it.
I'm also running on a year old version of the server code. Not sure if there is anything in a newer version that might fix it. I've been playing with this off and on for like a year and we're wanting to get it up and running before we start in MLS. I barely know what I'm doing here but "knows enough to be dangerous" makes me the most qualified in our SG.

[2021-11-07 22:49] galenriley commented on #188
I would recommend reviewing the Hooligan Hymnal setup docs for the
Cloudinary bits and making sure you are registered and have API keys and
whatnot first. Getting on the current branch of the server code is probably
a safe bet, and ensuring all of the environment variables are correct.

On Sun, Nov 7, 2021 at 5:47 PM Matt H ***@***.***> wrote:

[2021-11-07 23:27] Mbwata commented on #188
Guys I totally missed the Cloudinary setup. That sounds like that's my issue.

[2021-11-07 23:27] #188 closed, assigned to nobody